// globales
*{
    margin:0;
    padding:0;
    font-family: 'Lora', serif;
}

// Colores
$primary:       #3372e2;
$secondary:     #bf05de;
$success:       #84358d;
$info:          #2e3842;
$warning:       #a84094;
$danger:        #06d8bc;
$light:         #f7f3fd;
$dark:          #5f06aa;
$textShadow:    2px 2px 6px #000;
$textBorder:    2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

// medidas
$em-1: 1em;
$em-2: 2em;
$vh-1: 1vh;
$vh-2: 2vh;

// sizing
$w-10: 10%;
$w-25: 25%;
$w-50: 50%;
$w-100: 100%;
$imgSmall: 96px;

// mixin padding y margin
@mixin p-m($relleno, $margen){
    padding: $relleno;
    margin: $margen;
}

@mixin borderShadow {
    border-style: 1px solid black;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 1px #000000; 
    box-shadow: 0px 0px 5px 1px #000000;
    border-width: 0.5rem;
    border-color: black;
    box-sizing: border-box;
}

// Button
.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:230px;
    height:50px;
    font-weight:bold;
    border-width:1px;
    border-radius: 5px;
    text-decoration: none;
    color:#E1E4EA;
    border-color:#1f2f47;
    box-shadow: 3px 4px 0px 0px #23395e;
    text-shadow: 0px 1px 0px #263666;
    background:linear-gradient(#2e466e, #415989);
}

.buttonClass:hover {
    background: linear-gradient(#415989, #2e466e);
    color:#C3CAD5;
}

.buttonColor {
    box-shadow: 2px 2px 0px 0px #23395e;
    text-shadow: 0px 1px 0px #263666;
    background:linear-gradient(#2e466e, #415989);
    color:#fff;
    border-color:#1f2f47;
}

.buttonColor:hover {
    background: linear-gradient(#415989, #2e466e);
    border-color: #1f2f47;
}

.cancelColor {
    box-shadow: 2px 2px 0px 0px #616161;
    text-shadow: 0px 1px 0px #5f686e;
    background:linear-gradient(#6c757d, #979797);
    color:#fff;
    border-color:#565d64;
}

.cancelColor:hover {
    background: linear-gradient(#979797, #6c757d);
}

.more {
    transition: transform 1s ease, opacity 1s ease;
    transition-delay: 5s;
}
