footer {
    width: 100%;

        .h4Footer {
            color: rgb(231, 231, 231);
        }

        .h4Copyright {
            color: rgb(231, 231, 231);
        }

        .imgFooter {
            width: 3.5em;
        }
}
