.headerTrad {
    background-image: url(../img/fondo_Traduccion.jpg);
    height: 86vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.headerTrad__h1--titlePrimary {
    color: $warning;
    text-align: center;
    font-weight: 700;
    font-size: 5em;
    font-family: 'lora', serif;
    text-shadow: $textShadow;
}

.general__h3 {
    font-size: 1.5em;
    color: #a488bc;
    padding-top: 1%;
}

.general__p {
    font-size: $textP;
}

#divImgTrad1, #divImgTrad2, #divImgTrad3, #divImgTrad4 {
    @include borderShadow;
    width: 85%;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tituloServ {
    font-weight: 700;
    font-size: 3em;
    border-bottom: solid 2px #fff;
    padding: 0.5em 0;
    width: $w-100;
}

#serviciosMain {
    color: #fff;
    background-color: #2e363f;
}

#divBoton {
    background-color: #2e363f;
}

@media only screen and (max-width: 576px) {
    .headerTrad__h1--titlePrimary {
        font-size: 2.4em;
    }

    .tituloServ {
        font-size: 1.8em;
    }

    #divImgTrad1, #divImgTrad2, #divImgTrad3, #divImgTrad4 {
        flex-direction: column;
        padding: 0 5%;

        h3 {
            text-align: center;
            font-size: 1.2em;
        }
        p{
            margin-top: 5%;
            font-size: 0.8em;
        }
    }
}

@media only screen and (max-width: 768px) {
    #divImgTrad1, #divImgTrad2, #divImgTrad3, #divImgTrad4 {
        flex-direction: column;
        padding: 0 5%;

        h3 {
            text-align: center;
        }
    }
}